/* Card.css */
.card-container {
    width: 14rem;
    border: 3px solid #776e6e;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #7c7c7c;
    display: flex;
    flex-direction: column;
    margin: 3.3rem;
    background-color: #ffffff; /* White background color */
    transition: transform 0.2s ease-in-out; /* Add a hover effect */
    cursor: pointer; /* Show pointer cursor on hover */
    overflow: hidden; /* Hide overflowing content */
}

.card-container:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
}

.card-img {
    margin-top: 5%;
    margin-left:7%;
    width: 5cm;
    height: 5cm;
    border-radius: 15%;
}

.card-title {
    font-size: 2.5rem; /* Increase the title font size */
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
}

.card-description {
    font-size: 4rem; /* Increase the description font size */
    font-weight:700;
    margin: 0.9; /* Reduce margin to reduce space */
    text-align: center;
    padding: 0 1rem; /* Add some padding to the description */
}

/* Add a subtle box-shadow to the card on hover */
.card-container:hover {
    box-shadow: 0px 20px 16px #999;
}

.green {
    background-color: green;
  }
  
  .red {
    background-color: red;
  }

  