.h{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight:bolder;
    margin-left: 1%;
}
.h1
{
    margin-top: 1%;
    margin-left: 5%;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.home-container{
    background-image: url('./bg.jpg');
    background-size:cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}


.col-md-6{
    color: aliceblue;
}

.status-container {
    color: aliceblue;
  }
  
.row{
    color: aliceblue;
    background-color: rgba(152, 152, 152,0.3);
}
 